<div class="container-fluid">
  <div class="row">
    <div class="col-3">
        <%= render 'form', room: Room.new %><br>
        <%# to create new room %>
        <% @rooms.each do |room| %>
          <%= link_to room, class: 'room-link' do %>
            <div class="card no-outline mb-2 room-card">
              <div class="card-body">
                <span class='name'><%= room.name %></span>
              </div>
            </div>
            <%= link_to 'Delete', room, method: :delete, data: { confirm: 'Are you sure you want to permanently delete this conservation?' },class: "btn btn-xs btn-dark" %>
          <% end %>
        <% end %>
    </div>
    <div class="col-9">
      <% if @room.present? %>
        <div class="chat-room">
          <nav class="navbar navbar-light bg-light">
            <span class ="navbar-brand"><%= @room.name %></span> 
            <%# should change to matching username %>
          </nav>
          <div id="messages">
          <% @room.messages.each do |message| %>
              <div class="message mb-3 <%= 'me' if message.user == Current.user %>">
              <div class="message-content">
                <div class="username">
                  <%= message.user.username %>
                </div>
                <div class="content">
                  <%= message.content %>
                </div>
              </div>
            </div>
            <br>
          <% end %>
          </div>
          <div class="respond-box">
            <%= render 'messages/form', message: Message.new, room: @room %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- error with destroy room
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %> -->

