<div class="container-fluid">
  <div class="row" data-controller="room" data-room-id = <%= @room.id %>">
    <div class="col-3">
        <%= render 'form', room: Room.new %><br>
        <%# to create new room %>
        <% Room.all.each do |room| %>
          <%= link_to room, class: 'room-link' do %>
            <div class="card no-outline mb-2 room-card">
              <div class="card-body">
                <span class='name'><%= room.name %></span>
                <% if current_user.rooms.include?(room)%>
                  <%= link_to "Leave", room_room_user_path(room), method: :delete%>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>

    <div class="col-9">
      <div class="chat-room">
          <nav class="navbar navbar-light bg-light">
            <span class ="navbar-brand"><%= @room.name %></span> 
            <%# should change to matching username %>
          </nav>

          <div data-target="room.messages">
            <%= render @room.messages %>
          </div>

  </div>

  <div class="row">
    <div class="col-sm-9 offset-sm-2 p-2 bg-white">
      <% if current_user.rooms.include?(@room) %>
        <%= form_with model: [@room, Message.new], data: { action: "ajax:success->room#clearMessage" } do |form| %>
          <%= form.text_field :body, placeholder: "Message ##{@room.name}", class: "form-control", data: { target: "room.newMessage" } %>
        <% end %>

      <% else %>
        <%= link_to "Join #{@room.name}", room_room_user_path(@room), method: :post %>
      <% end %>
        </div>
    </div>
  </div>
</div>

